fastapi
uvicorn
pymupdf
pytesseract
Pillow
langchain
langchain-openai
langchain-community
chromadb
python-dotenv
pytest
python-multipart
httpx
pydantic
langchain-text-splitters

langchain-huggingface
langchain-groq
langchain-google-genai
sentence-transformers

streamlit
rank-bm25
requests
